.overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(23 23 23 / 0.9);
  backdrop-filter: blur(4px);
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 100%;
  width: 100%;
  padding: 24px;
  background-color: rgb(240 240 240);
  border-width: 1px;
  border-color: rgb(64 64 64);
  border-radius: 6px;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0 0 16px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(163 163 163);
  border-radius: 50%;
  cursor: pointer;
}
.close:hover {
  color: rgb(163 163 163);
}

@media screen and ((min-width: 768px)) {
  .content {
    max-width: 450px;
    max-height: 85vh;
    width: 90vw;
    height: auto;
  }
}